body{
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation{
  padding-top:50px;
  padding-bottom:30px;
  position:absolute;
  top:0;
  width:100%;
  z-index:1;
}

.navbar-right{
  float:right;
  padding-top:5%;
  padding-right:8%;
  font-size: 120%;
}

.navbar-right a{
  text-decoration:none;
  padding:10px;
  color: #fff;
  font-family:Arial;
  font-weight:none;
}

.navbar-right a:hover{
  text-decoration:underline;
}
.navbar-logo{
  padding-left:6.5%;
  padding-top: 50px;
  font-family:Arial;
  font-size:30px;
  font-weight:bold;
  text-decoration:none;
  color:#fff; 
}

.video-container {
z-index: -100;
width:100%;
height:100%;
overflow:hidden;
position:absolute;
top:0;
left:0;
}
.text1{
      
    background: #791FFF;
    opacity: 0.8;
    padding-top: 20%;
    padding-bottom: 3%;
    padding-left: 30px;
    margin-left: 80px;
    font-family:Arial;
    font-size: 10vw;
    color: yellow;    
    }
.text2{
    padding-top: 0.2%;
    color: aqua;
    margin-left: 8%;
    font-family:Arial;
    font-size: 100px;
    color: white;
    }
.text3{
    padding-top: 1%;
    margin-left: 8%;
    font-family:Arial;
    font-size: 2vw;
    color: white;
    }
#wrapper{
  position: relative;
  height: 2000px;
  
}

.background{
  color: #999999;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
}

.about{
    font-family:Arial;
    font-size: 34px;
    font-weight: bolder;
    color: white;
    margin-top: 17%;
    padding-left: 20%;
    padding-right: 20%;
    text-align: center;
    background: #791FFF;
    padding-top: 4%;
   
    }
.about-description{
    text-align: justify;
    -moz-text-align-last: justify; 
    text-align-last: left;
    font-weight: lighter;
    line-height: 160%;
    font-size: 20px;
    padding-right: 22%;
    }

 .picture1{
  position: absolute;
  margin-top: 5%;
  padding-left: 20%;

} 
.charactor1{
    font-family:Arial;
    font-size: 18px;
    font-weight: bolder;
    color: #791FFF;
    padding-top: 7%;
    padding-left: 50%;
    } 

.fairerprice{
   font-family:Arial;
    text-align: justify; 
  -moz-text-align-last: left; 
  text-align-last: left;
  padding-left:50%;
  padding-right:20%;
  color: #791FFF;
  line-height: 160%;
  font-size: 20px;
   
}
.picture2{
  position: absolute;
  margin-top: 13%;
  padding-left: 57%;
}
.charactor2{
    font-family:Arial;
    font-weight: bolder;
    color: #791FFF;
    font-size: 18px;
    text-align: right;
    padding-top:8%;
    padding-right:50%;
    }
.sustainability{
    text-align: justify; 
    -moz-text-align-last: right; 
    text-align-last: right;
    padding-left:20%;
    padding-right:50%;
    color: #791FFF;
    line-height: 160%;
    font-size: 20px;
}
.picture3{
  position: absolute;
  margin-top:13%;
  padding-left: 20%;
}
.charactor3{
    font-family:Arial;
    font-size: 18px;
    font-weight: bolder;
    color: #791FFF;
    padding-top: 8%;
    padding-left: 50%;
    } 
.efficient{
    font-family:Arial;
  text-align: justify; 
  -moz-text-align-last: left; 
  text-align-last: left;
  padding-left:50%;
  padding-right:20%;
  color: #791FFF;
  line-height: 160%;
  font-size: 20px;  
}
.picture4{
  position: absolute;
  margin-top:7%;
  padding-left: 57%;   
}
.charactor4{
    font-family:Arial;
    font-weight: bolder;
    color: #791FFF;
    font-size: 18px;
    text-align: right;
    padding-top:8%;
    padding-right:50%;
    }
.dataprojtection{
    text-align: justify; 
    -moz-text-align-last: right; 
    text-align-last: right;
    padding-left:20%;
    padding-right:50%;
    color: #791FFF;
    line-height: 160%;
    font-size: 20px;
}

.video-works{
    font-family:Arial;
    font-size: 34px;
    font-weight: bolder;
    color: white;
    position: absolute;
    text-align: center;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 50px;
    margin-top: 6%;
    background: #945bfc;
    position: relative;
    height: 600px;
    
    }
.video{
    width: 100%;
    height: auto;
    object-position: center;
    padding-top: 5%;
    padding-bottom: 10%;
}
.followus{
    
    position: relative;
    height: 305px;
    font-family:Arial;
    font-weight: lighter;
    background:yellow;
    text-align:center;
    color: #791FFF;
}
.driveless{
    font-size:40px;
    padding-top: 1%;
}
.email{
    font-size: 24px;  

}

.fa {
   
   padding: 20px;
   font-size: 30px;
   width: 50px;
   text-align: center;
   text-decoration: none;
    margin: 5px 2px;
    color: #791FFF;

}

.socialmedia{
  font-size: 30px;
  padding-bottom: 5%;
  
}


